<div class="welcome">
  <div class="welcome__container">
    <div class="welcome__heading">
      <h2 class="welcome__title">Welcome</h2>
    </div>
    <div class="welcome__game game">
      <div class="game__container">
        <div class="game__heading">
          <h3 class="game__title">Tee K.O.</h3>
        </div>
        <div class="game__description">
          Draw, write and then combine it all to create the sickest T-shirt design.
          Only the most unique ad quirky T-shirt will leave the tournament alive.
        </div>
        <div class="game__buttons">
          <button (click)="createRoom()" class="game__button game__button--create button">Create</button>
          <button (click)="openDialog()" class="game__button game__button--join button button--join">Join</button>
        </div>
      </div>
    </div>
  </div>
</div>
