<footer class="footer">
  <div class="footer__container">
    <div class="footer__list">
      <a [routerLink]="['/shows']" class="footer__website">© PFH.com</a>
      <nav className="network__list">
        <div class="network__item">
          <div class="network__title">Follow us:</div>
        </div>
        <div class="network__item">
          <a href="#" class="fa fa-facebook" title="Visit our Facebook page!"
             target="_blank">
          </a>
          <a href="#" class="fa fa-twitter" title="Visit our Twitter page!"
             target="_blank"></a>
          <a href="#" class="fa fa-instagram"
             title="Visit our Instagram page!" target="_blank"></a>
        </div>
      </nav>
    </div>
  </div>
</footer>
