@font-face {
  font-family: "KGIWantCrazy";
  src: url("src/assets/fonts/KGIWantCrazy.ttf");
}

@font-face {
  font-family: "JandaManateeBubble";
  src: url("src/assets/fonts/JandaManateeBubble.ttf");
}

@font-face {
  font-family: "JandaManateeSolid";
  src: url("src/assets/fonts/JandaManateeSolid.ttf");
}
