<form [formGroup]="formJoinRoom" class="form" (submit)="onSubmit()">
  <mat-form-field class="form__field" appearance="standard">
    <mat-label>Room Code</mat-label>
    <input matInput placeholder="zxwo" formControlName="room"/>
    <mat-hint>Can be found in the game lobby</mat-hint>
    <mat-error *ngIf="!formJoinRoom.valid && this.formJoinRoom.controls.room.touched">Room code is not valid</mat-error>
    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
  </mat-form-field>
  <button
    class="form__button button"
    type="submit"
    [disabled]="!formJoinRoom.valid"
  >
    Jump in!
  </button>
</form>
