<div class="about">
  <app-header></app-header>
  <div class="about__container">
    <img class="about__background" src="../../../../../assets/backgrounds/about-background.png" alt="about-background"/>
    <div class="about__title">"We are individually diverse, yet banded together in common purpose and resolve."</div>
  </div>
  <div class="about__values values">
    <div class="values__title">PGH Values</div>
    <div class="values__list">
      <div class="values__item">
        <div class="values__subtitle">We are millions</div>
        <div class="values__description">We have our fingers on the pulse for the latest global games industry
          trends. We select the best ideas, and bring them to life using the latest tech and world-class
          industry talents. This allows us to create games and services that reach millions of people
          globally.
        </div>
      </div>
      <div class="values__item">
        <div class="values__subtitle">Great minds</div>
        <div class="values__description">We bring together diverse groups of people who share our passion for games, and
          who love to create, support, and play them. We value and implement input from across our company and
          communities and believe that together, we can achieve greatness.
        </div>
      </div>
      <div class="values__item">
        <div class="values__subtitle">Plan big</div>
        <div class="values__description">Making games is the first step in our journey. We also create and maintain
          entire ecosystems of support, services, and apps that complement our games, and assist our employees and
          global player base with their everyday needs.
        </div>
      </div>
      <div class="values__item">
        <div class="values__subtitle">Outside the box</div>
        <div class="values__description">Our motto is “free to create and ready to explore.” We are constantly looking
          for innovative new ideas and solutions that will lead our projects to continued success for years on end. Our
          pioneering drive for originality is why our employees, partners, and players choose PHF
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
