<div class="lobby">
  <div class="lobby__container">
    <nav class="lobby__back" [routerLink]="['/main/welcome']">< Back</nav>
    <div class="lobby__join join">
      <span class="join__message" *ngIf="!errorMessage">Join at </span>
      <span class="join__code" *ngIf="!errorMessage">{{ roomCode }}</span>
      <mat-error class="join__error" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    </div>
    <button class="lobby__button button" (click)="startGame()" *ngIf="!errorMessage" [disabled]='gameReady'>
      <span class="button__title"
            [ngClass]="{'is-wait': gameReady, 'is-start': !gameReady}">{{  gameReady ? 'Wait!' : 'Start' }}</span>
    </button>

    <div class="lobby__sidebar">
      <ul class="lobby__users">
        <li *ngFor="let user of users" class="lobby__user user">
          <span class="user__name">{{ user }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
