<div class="chat">
  <div class="chat__title">Chat</div>
  <div class="chat__messenger messenger">
    <ul class="messenger__list">
      <li *ngFor="let message of messages" class="messenger__message message"
          [ngClass]="message.username === 'You' ? 'message--incoming' : 'message--outcoming'">
        <div class="message__name" *ngIf="message.username">
          {{ message.username }}
        </div>
        <span class="message__text">{{ message.message }}</span>
      </li>
    </ul>
  </div>
  <div class="chat__controller">
    <form class="chat__form" [formGroup]="chatForm" (submit)="sendMessage()">
      <input
        formControlName="messageText"
        placeholder="Enter your message..."
        class="chat__input"
      >
      <button type="submit" class="button chat__button" [disabled]="!this.chatForm.valid">Send</button>
    </form>

  </div>
</div>
